<% if params[:action] == 'index' %>
  <div class="awaiting_approval_title">Awaiting Approval</div>
<% else %>
  <div class="awaiting_approval_title">All Contests</div>
<% end %>

<% if @contests.count == 0 and params[:action] == 'index' %>
  <p class="alert alert-info">There are no contests awaiting approval. <%= link_to 'Show all contests', all_admin_contests_path %></p>
<% end %>

<% @contests.each do |contest| %>
  <div class="contest_box" style="background: url(<%= contest.image_medium_url %>) center no-repeat">
    <b><%= link_to contest.title, admin_contest_path(contest) %></b>
    <% unless contest.approved? %>
      <%= link_to 'Approve', approve_admin_contest_path(contest), method: 'PUT', class: 'btn btn-primary approve_button' %>
    <% end %>

    <%= link_to 'Edit', edit_admin_contest_path(contest), class: 'btn btn-info' %>
    <%= link_to 'Delete', admin_contest_path(contest), method: 'DELETE', class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>